<section>

</section>

<div class="ui {{session.message.type}} message">
    <i class="close icon"></i>
    <div class="header">
        {{ session.message.header }}
    </div>
    <p>{{ session.message.text }}</p>
</div>

<h1>Dashboard</h1>

<p>Welcome {{user.username }}</p>

<a href="/commands/sendmessage">Send message</a>