<h1>Alfred Botler command list</h1>
{{{ md }}}

<style>
    h1 {
        text-align: center;
    }

    .section {
        border: 1px solid grey;
        border-radius: 2px;
        padding: 15px;
    }

    table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
        margin-bottom: 15px;
    }
    table thead th {
        background-color: #f3f3f3;
        border: solid 1px #dadada;
        color: grey;
        padding: 10px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
    }
    table tbody td {
        border: solid 1px #DDEEEE;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }

    p code {
        /* Below are styles for the codebox (not the code itself) */
        border:1px solid #dadada;
        background-color: #f3f3f3;
        width:300px;
        overflow:auto;
        padding:10px;
    }
</style>