<h1>✨ Making a donation ✨</h1>

<section class="faq">
    <div class="ui styled fluid accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            Why should I donate ?
        </div>
        <div class="active content">
            <p>Before anything else, you DON'T HAVE TO donate to support us.</p>
            <p>Sharing this server to your friends is even more important than money. Help the community grow! (<a
                    href="https://discord.me/construct">https://discord.me/construct</a>)</p>
            <br>
            <p>We have a Discord bot running on this server, and hosting it is made by ourself. But it costs money.</p>
            <p>You can help us keep this bot alive with a small donation. </p>
            <p>We plan to integrate even more features and integrations in relation to Construct in the next months</p>
            <br>
            <p>We also plan to make some jams for you, with prizes to win</p>
            <p>Prizes also cost money and without revenues it's impossible.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I make a 1 time donation ?
        </div>
        <div class="content">
            <p>Yes!</p>
            <p>You can use the Paypal or Crypto button to make a 1 time donation in the currency you like.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I make a recurrent donation ?
        </div>
        <div class="content">
            <p>Also yes!</p>
            <p>I'm on Liberapay, as service that allow recurring payments as you like.</p>
            <p>This page is not only for this Discord server but is also used for all my work on the web (Github, NPM,
                etc...)</p>
        </div>
    </div>
</section>

<br><br><br>

<section class="links">
    <div class="big ui buttons centered">
        <a href="https://www.paypal.me/armaldio" target="_blank" class="ui button blue">Paypal</a>
        <div class="or"></div>
        <a href="https://coingate.com/pay/armaldio" target="_blank" class="ui button green">Crypto</a>
        <div class="or"></div>
        <a href="https://en.liberapay.com/armaldio/donate" target="_blank" class="ui button orange">Liberapay</a>
    </div>
</section>

<style>
    .links {
        font-size: 20px;
    }

    .links {
        text-align: center;
    }
</style>

<script>
    $('.ui.accordion').accordion();
</script>