<h1>Welcome to the Alfred Botler's website!</h1>

<div class="ui two column grid">
    <div class="row">
        <div class="column">
            <a href="/"><img class="ui centered medium rounded image" src="/images/dashboard.png"></a>
            <a href="/">Dashboard</a>
        </div>
        <div class="column">
            <a href="/doc"><img class="ui centered medium rounded image" src="/images/documentation.png"></a>
            <a href="/doc">Documentation</a>
        </div>
    </div>
</div>

<footer>
	Icons designed by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from Flaticon
	<br>
	<a href="https://www.vultr.com/?ref=7308355"><img src="https://www.vultr.com/media/banner_1.png" width="728" height="90"></a>
</footer>

<style>
    .column {
        text-align: center;
        font-size: 25px;
    }

    footer {
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
</style>