<!DOCTYPE html>
<html>
<head>
    <title>CC Discord website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <style>
        .container {
            padding-top: 25px;
        }

        h1 {
            text-align: center;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="ui container">
    {{{body}}}
</div>
</body>
</html>
