<h1 style="text-align: center">Send a message to a channel</h1>

<form id="form" method="post" class="ui form">
    <div class="field">
        <div class="ui fluid search selection dropdown">
            <input type="hidden" name="channel">
            <i class="dropdown icon"></i>
            <div class="default text">Select Channel</div>
            <div class="menu">
                {{#channels}}
                    <div class="item" data-value="{{id}}"><i class="hashtag icon"></i>{{name}}</div>
                {{/channels}}
            </div>
        </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
            <div class="input" id='input'
                 contenteditable></div>
        </div>
        <div class="eight wide field">
            <div class="input" id='formattedMessage' readonly></div>
        </div>

        <input type='hidden' id='fake_textarea_content' name='message'/>
    </div>

    <div class="fields">
        <div class="twelve wide field">
            <div class="ui fluid search selection dropdown" id="dropdown">
                <input type="hidden" name="user" id="user">
                <i class="dropdown icon"></i>
                <div class="default text">Select User</div>
                <div class="menu">
                    {{#users}}
                        <div class="item" data-value="{{user.id}}"><i class="at icon"></i>{{user.username}}</div>
                    {{/users}}
                </div>
            </div>
        </div>
        <div class="four wide field">
            <p id="toBeCopied"></p>
        </div>
    </div>

    <input class="ui button" type="submit" value="Submit"/>
</form>

<style>
    .input {
        height: 150px;
        border: 1px solid rgba(34, 36, 38, .15);
        border-radius: .28571429rem
    }
</style>

<script>
    function getUsername (id) {
        console.log("id", id);
    }

    function format (text) {

        var userOrMember = /^(?:<@!?)?(\d{17,21})>?$/;

/*        var id = userOrMember.exec(text);
        let item = $('#dropdown').dropdown('get item', id[1]);
        let userName = $(item).text()*/
        text = text.replace(userOrMember, '@user');

        return text;
    }

    $(document).ready(() => {
        $('.dropdown').dropdown({
            onChange: function (val) {
                console.log('val', val);
                var user = $('#user').val();
                $('#toBeCopied').html('<@' + user + '> ');
            }
        });

        $('.ui.form').form({
            fields: {
                channel: 'empty',
                message: 'empty'
            }
        });

        $('#input').on('input', () => {
            var value    = $('#input').text();
            var newvalue = format(value);
            $('#formattedMessage').text(newvalue);
        });

        $('#form').submit(() => {
            $('#fake_textarea_content').val($('#input').html());
        });
    });

</script>